@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 139 203 92; /* #8bcb5c */
    --color-secondary: 222 38 38; /* #de2626 */
    --color-surface: 237 237 237; /* #EDEDED */
    --color-content: 30 30 30; /* #1E1E1E */
  }

  .dark {
    --color-primary: 194 237 15; /* #c2ed0f */
    --color-secondary: 222 38 38; /* #de2626 */
    --color-surface: 30 30 30; /* #1E1E1E */
    --color-content: 237 237 237; /* #EDEDED */
  }
}